/ = javascript_pack_tag "charts"
/ = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
/ = wicked_pdf_javascript_include_tag "https://www.gstatic.com/charts/loader.js"

= raw @report.ui.display_report

.row
  .col.s12
    .card-panel
      #company-sales

/ javascript:
/   google.charts.load('current', { packages: ['corechart']});
/   google.charts.setOnLoadCallback(drawCharts);

/   function drawCompanySales() {
/     console.log("data: ")
/     var data = google.visualization.arrayToDataTable([
/       ['business name', 'sales'],
/     ].concat(#{raw @report[:charts][:company_sales]}));

/     var options = {
/       title: 'Total sales',
/       haxis: {
/         title: 'Business name'
/       },
/       vaxis: {
/         title: 'sales'
/       }
/     }

/     var chart = new google.visualization.AreaChart(
/       document.getElementById('company-sales')
/     )
/     chart.draw(data, options);
/   }

/   function drawDailySales() {

/   }

/   function drawEmployeeSales() {

/   }

/   function drawClientSales() {

/   }

/   function drawCompanyEarnings() {

/   }

/   function drawCharts() {
/     drawCompanySales();
/     drawDailySales();
/     drawEmployeeSales();
/     drawClientSales();
/     drawCompanyEarnings();
/   }