h1 Home#index
p Find me in app/views/home/index.html.slim
= link_to "Log out", destroy_user_session_path, method: :delete 
hr
= link_to "Simple Report", purchase_report_path(type: "simple")
hr
= link_to "Detailed Report", purchase_report_path(type: "detailed")
hr
= link_to "Full Report", purchase_report_path(type: "full")
