/ = javascript_pack_tag "charts"
/ = javascript_include_tag "https://www.gstatic.com/charts/loader.js"
/ = wicked_pdf_javascript_include_tag "https://www.gstatic.com/charts/loader.js"
= raw @report.ui.display_report

.row
  #total-company-earnings

javascript:
  google.charts.load('current', {packages: ['corechart']});
  google.charts.setOnLoadCallback(drawCharts);

  function drawTotalCompanyEarningsChart() {
    var data = google.visualization.arrayToDataTable([
      ['month', 'earnings'],
    ].concat(#{raw @company_earnings}));

    var options = {
      title: 'Company earnings',
      haxis: {
        title: 'day of month'
      },
      vaxis: {
        title: 'earnings'
      }
    };

    var chart = new google.visualization.AreaChart(
      document.getElementById('total-company-earnings')
    );
    chart.draw(data, options);
  }

  function drawBrowsersChart() {
    var data = google.visualization.arrayToDataTable([
      ['browser', 'clicks'],
    ].concat(#{raw @browsers_clicks}));

    var options = {
      title: 'Browsers'
    };

    var chart = new google.visualization.PieChart(
      document.getElementById('browsers-chart')
    );
    chart.draw(data, options);
  }

  function drawPlatformsChart() {
    var data = google.visualization.arrayToDataTable([
      ['platform', 'clicks'],
    ].concat(#{raw @platform_clicks}));

    var options = {
      title: 'Platform'
    };

    var chart = new google.visualization.PieChart(
      document.getElementById('platforms-chart')
    );
    chart.draw(data, options);
  }

  function drawCharts() {
    drawTotalCompanyEarningsChart();
  }
