// // Place all the styles related to the DesignPatterns/Facade controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: https://sass-lang.com/
$color-blue: #1A9BE4;

.calendar-img {
  opacity: 0.5;
}

.container.events,
.container.calendars {
  max-width: none !important;
  width: 90% !important;
}

.calendars {
  &__title {
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;

    .calendar-icon {
      font-size: 3rem;
      margin-left: 1rem;
      color: $color-blue;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbdfea;

    h3 {
      font-size: 2rem;
      font-weight: 200;

      // .calendar-icon {
      //   font-size: 2rem;
      //   margin-left: 1rem;
      //   color: $color-blue;
      // }
    }
  }

  &__list {
    .row {
      .card {
        min-height: 12rem;
        .card-content {
          height: 10rem;

          .primary-calendar {
            position: absolute;
            top: 0;
            left: 0;
            padding: 3px;
            text-transform: uppercase;
            color: #fff;
            font-size: 0.8rem;
            background: #4db6ac;
          }

          a.dropdown-trigger.btn {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 !important;
            background: transparent;
            box-shadow: none;
            color: black;
          }

          .buttons-container {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem;

            a {
              color: #26a69a;
            }

            a.disabled {
              pointer-events: none;
              box-shadow: none;
              color: #9F9F9F !important;
              cursor: default;
            }
          }

          .card-title {
            font-weight: 200;
          }
        }
      }
    }
  }
}

.calendar-form.hidden {
  visibility: hidden;
  display: none;
}

.calendar-form {
  .btn-cancel {
    margin-left: 1rem;
  }
}

.logout-btn,
.calendar-list-btn {
  display: flex;
  justify-content: flex-end;
  padding: 0 0.75rem;

  a {
    font-size: 13px;
  }
}

.events {
  &__title {
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;

    .calendar-icon {
      font-size: 3rem;
      margin-left: 1rem;
      color: $color-blue;
    }
  }


  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dbdfea;

    h3 {
      font-size: 2rem;
      font-weight: 200;
    }

    .btn-actions {
      .btn {
        margin-left: 10px;

        i {
          font-size: 1.5rem;
        }
      }

      ul {
        width: 198.375px;
        left: 0;
        top: -38px;
      }
    }
  }
}

div#calendar {
  margin-bottom: 5rem !important;
}
