// Place all the styles related to the factory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.jumbotron {
  height: 42rem;
  background: #6A48EA;
  margin-top: -2.37rem;
  --webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  z-index: 2;
  position: relative;

  img {
    width: 48rem;
    transform: rotate(-5deg);
    position: absolute;
    left: 7%;
    bottom: 10%;
  }

  h2 {
    color: #fff;
    padding: 1rem;
  }

  .content {
    width: 40rem;
    text-align: left;
    padding: 1rem 2rem;
    position: absolute;
    right: 5%;
    top: 25%;
    color: #fff;
    font-weight: 100;
  }
}

.jumbotron-2 {
  height: 39rem;
  background: #D2D0F2;
  width: 100%;
  position: absolute;
  top: 7%;
  z-index: -2;
  /* z-index: 200; */
  --webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 65%);
}


.address {
  text-align: right;
  padding: 1rem;
  background: #F7F7F7;
  border-left: 5px solid #757575;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: #bdbdbd;
    
    .carrier-details {
      color: #fff;
    }

    h5 {
      color: #757575;
    }
  }

  h5 {
    color: #F25858;
    font-weight: 200;
  }

  .carrier-details {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 300;
    color: #424242;
  }
}


.fiscal-info {

  small {
    text-transform: uppercase;
    color: #757575;
  }

  blockquote {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    background: #F7F7F7;
    margin: 0;
    padding: 1rem;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: #ffccbc;
    }
  
    span {
      font-size: 1.1rem;
      font-weight: 300;
    }
  }
}


.shipments {  
  small {
    text-transform: uppercase;
    color: #757575;
  }
  
  div {
    border-left: 5px solid #4db6ac;
    text-align: center;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: #c8e6c9;
    }

    i {
      font-size: 3rem;
      color: #4db6ac;
    }

    h3 {
      font-weight: 200;
    }
  }
}


.drivers {
  
  small {
    text-transform: uppercase;
    color: #757575;
  }
  
  div {
    text-align: center;
    background: #F7F7F7;
    padding: 1rem 0;
    border-left: 5px solid #ab47bc;

    transition: all 0.3s ease-out;

    &:hover {
      background-color: #d1c4e9;

      h6 {
        color: #fff;
      }
    }

    i {
      font-size: 3rem;
      color: #ab47bc;
    }
  }
}
